body{
    background-color: powderblue;
    font-family:  'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
}
#main-title{
    color: white;
    text-align: center;
    border-bottom: 5px solid darkblue;
    margin: 0;
    padding: 40px 0;
    width: 100%;
}
.content-card{
    background-color: white;
    border:1px solid lightgrey;
    border-radius: 12px;
    padding: 30px;
    margin: 20px;
    max-width: 800px;
    box-shadow: 0 10px 20px silver;
    transitions: 0.3s;
}
.content-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 15px 30px gray;
    border-color: dodgerblue;
}
h2{
    color: dodgerblue;
    border-left: 8px solid dodgerblue;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
p{
    font-size: 18px;
    line-height: 1.8;
}